.box_checkbox {
    display: flex;
    align-items: center;
    padding: 1.5rem;
    gap: 1.5rem;
}

.checkbox {
    position: relative;
}

.checkbox__field {
    margin: 0 0;
    appearance: none;
    width: 1rem;
    height: 1rem;
    background-color: var(--white-color);
    border: 0.0625rem solid var(--lightblue-color);
    box-sizing: border-box;
    border-radius: 0.0625rem;
}

.checkbox__icon {
    position: absolute;
    left: 0;
    top: 0;
    width: 1rem;
    height: 1rem;
    fill: var(--white-color);
    display: none;
    transition: display 0.25s ease-in;
}

.checkbox__field:checked {
    appearance: none;
    background-color: var(--border-color);
    border-color: var(--border-color);
}

.checkbox__field:checked + .checkbox__icon {
    display: block;
}

.checkbox__field:active {
    background-color: var(--lightblue-color);
    outline: 1px solid var(--border-focus-color);
}