@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");

:root {
    --white-color: #FFFFFF;
    --black_color: #000000;
    --main-background-color: #E5E5E5;
    --border-color: #459DF5;
    --border-box-color: #8055FF;
    --border-focus-color: #367dc4;
    --lightblue-color: #BAD8F5;
    --blue-color: #459DF5;
    --red-color: #F53152;
}

body {
    background-color: var(--main-background-color);
    font-family: "Ubuntu";
}

input::-webkit-input-placeholder { 
    color: var(--lightblue-color) 
}

.page {
    position: relative;
}

.box {
    position: absolute;
    box-sizing: border-box;
    border-radius: 0.3125rem;
    border: 0.0625rem dashed var(--border-box-color);
}

.box_input {
    position: relative;
    height: 22.5rem;
    width: 22rem;
    left: 0rem;
    top: 18rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding: 3rem;
}

.box_input::before {
    content: "Input";
    position: absolute;
    top: -1rem;
    left: 0;
    color: var(--border-box-color);
    /*font-family: Ubuntu;*/
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0px;
}

.box_searchbar {
    height: 12rem;
    width: 22rem;
    left: 28rem;
    top: 18rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.box_searchbar::before {
    content: "Searchbar";
    position: absolute;
    top: -1rem;
    left: 0;
    color: var(--border-box-color);
    /*font-family: Ubuntu;*/
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0px;
}

.box_checkbox {
    height: 4rem;
    width: 6.5rem;
    left: 28rem;
    top: 36rem;
}

.box_checkbox::before {
    content: "Checkbox";
    position: absolute;
    top: -1rem;
    left: 0;
    color: var(--border-box-color);
    /*font-family: Ubuntu;*/
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0px;
}

.box_radio {
    height: 4rem;
    width: 6.5rem;
    left: 37.5rem;
    top: 36rem;
}

.box_radio::before {
    content: "Radio";
    position: absolute;
    top: -1rem;
    left: 0;
    color: var(--border-box-color);
    /*font-family: Ubuntu;*/
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0px;
}

.box_button {
    display: grid;
    height: 23.5rem;
    width: 36rem;
    left: 0rem;
    top: 49rem;
    padding: 3rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(0rem, auto);
    grid-row-gap: 1rem;
}

.box_button::before {
    content: "Button";
    position: absolute;
    top: -1rem;
    left: 0;
    color: var(--border-box-color);
    /*font-family: Ubuntu;*/
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0px;
}

.box_dropdowns {
    height: 32rem;
    width: 42rem;
    left: 42rem;
    top: 49rem;
}

.box_dropdowns::before {
    content: "Dropdowns";
    position: absolute;
    top: -1rem;
    left: 0;
    color: var(--border-box-color);
    /*font-family: Ubuntu;*/
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0px;
}