.box_radio {
  display: flex;
  align-items: center;
  padding: 1.5rem;
  gap: 1.5rem;
}

.radio {
  position: relative;
}

.radio__field {
  margin: 0 0;
  appearance: none;
  width: 1rem;
  height: 1rem;
  background-color: var(--white-color);
  border: 0.0625rem solid var(--lightblue-color);
  box-sizing: border-box;
  border-radius: 1rem;
  cursor: pointer;
}

.radio__dot {
  position: absolute;
  width: 1rem;
  height: 1rem;
  left: 0;
  top: 0;
  fill: var(--white-color);
  display: none;
}

.radio__field:checked {
  background-color: var(--blue-color);
  border-radius: 0.9375rem;
}

.radio__field:checked ~ .radio__dot {
  display: block;
}
